/* Générique */

*{
    margin:0px;
    padding:0px;
}

body 
{
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    padding:20px;
}

#bloc_page
{
    margin:50px;
}

.blue
{
    color:#0065FC
}

.grey
{
    color:#F2F2F2
}

main
{
    padding:50px;
}

/* Header */

header
{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0px 50px 0px 50px;
}

nav ul
{
    list-style-type: none;
    display:flex;
}

nav ul a
{
    text-decoration: none;
    padding-top: 30px;
    color:black;
}

nav a:hover
{
border-top: 1px solid #0065FC;
color: #0065FC;
}

nav li
{
    margin-right: 20px;
}

/* Main */

    /* Première section/Boutton rechercher */

::placeholder
{
    color:black;
    opacity:1;
    font-weight: bold;
}

.fa-location-dot
{
    background-color: #F2F2F2;
    padding:15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

form
{
    display:flex;
    align-items: center;
    margin-top:10px;
}

.searching
{
    border-left:none;
    border-right:none;
    padding:13px;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    position: relative;
}

.searching_button
{
    padding:14px;
    border: none;
    color: white;
    background-color: #0065FC;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    font-weight: bold;
}
    /* Deuxième section/Filtres */

#filters
{
    display:flex;
    align-items: center;
    margin-top: 20px;
    gap: 30px;
}

#eco
{
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-right:20px;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    gap:15px;
}

#eco .fa-solid
{
    padding:15px;
    background-color: #DEEBFF;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left:-5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#eco:hover
{
    border:2px solid #0065FC;
}
    /* Troisième section/Informations */

#informations
{
    display: flex;
    align-items: center;
    margin: 15px 0px 15px 0px;
}

#informations .fa-solid
{
    padding: 10px;
    border: 2px solid #F2F2F2;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
    /* Quatrième section/hébergements */

.hostels1
{
    background-color: white;
    height: 250px ;
    width: 30%;
    margin: 5px;
    border-radius: 20px;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0px 5px 10px #999;
}

.hostels1 a
{
    text-decoration: none;
    color: black;
}

#hostels a
{
    text-decoration: none;
    color: black;
}

.hostels_line1
{
    display:flex;
    flex-flow: row wrap;
    gap: 30px;
}

.hostels1_body
{
    padding:10px 15px;
    display:flex;
    flex-direction: column;
    text-align: left;
    gap: 7px;
    box-sizing: border-box;
}

#hostels
{
    display: flex;
}

#most_pop
{
    background-color: #F2F2F2;
    width: 33%;
    border-radius: 15px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#hostels_marseille
{
    background-color: #F2F2F2;
    width: 66%;
    border-radius: 15px;
    padding:40px;
    display: flex;
    flex-direction: column;
    gap:50px;
}

#most_pop_children
{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:30px 40px 0px 40px;
}

h2
{
    font-size: 25px;
}


.hostels_pop
{
    display: flex;
    background-color: white;
    height: 180px ;
    width: 80%;
    border-radius: 20px;
    padding:5px;
    font-size:16px;
    box-sizing: border-box;
    box-shadow: 0px 5px 10px #999;
    margin-left:10%;
}

.hostels_pop_body
{
    padding:20px;
    gap:5px;
    display: flex;
    flex-direction: column;
}

.hostels_pop_body .stars
{
    margin-top: 30px;
}

    /* Cinquième section/Activités */
#activities
{
    display:flex;
    flex-direction: column;
    gap:20px;
    margin-top:50px;
}

#activities_children
{
    display:flex;
    gap:40px;

}

#activities_children_port
{
    height: 540px;
    width: 25%;
    box-shadow: 0px 10px 10px #F2F2F2;
    border-radius: 15px;
    overflow: hidden;
}

.activities_children_container_bis
{
    width:25%;
    display:flex;
    flex-direction: column;
    gap:40px;
    box-sizing: border-box;
    
}

#activities_children_fort
{
    height: 300px;
    box-shadow: 0px 10px 10px #F2F2F2;
    border-radius: 15px;
    overflow: hidden;
}

#activities_children_frioul
{
    height: 200px;
    box-shadow: 0px 10px 10px #F2F2F2;
    border-radius: 15px;
    overflow: hidden;
}

#activities_children_calanques
{
    height: 540px;
    width: 25%;
    box-shadow: 0px 10px 10px #F2F2F2;
    border-radius: 15px;
    overflow: hidden;
}

#activities_children_notre_dame
{
    height: 225px;
    box-shadow: 0px 10px 10px #F2F2F2;
    border-radius: 15px;
    overflow: hidden;
}

#activities_children_longchamp
{
    height: 275px;
    box-shadow: 0px 10px 10px #F2F2F2;
    border-radius: 15px;
    overflow: hidden;
}

#activities_children h3
{
    padding: 10px 0px 10px 20px;
}

/* Footer */

footer
{
    display:flex;
    background-color: #F2F2F2;
}

footer ul
{
    list-style-type: none;
}

footer ul a
{
    text-decoration: none;
    color: black;
}

.footer_container
{
    display:flex;
    gap:300px;
    padding:40px;
}

.footer_container_children ul
{
    display:flex;
    gap:15px;
    flex-direction: column;
}

.footer_container_children
{
    display:flex;
    gap:20px;
    flex-direction: column;
}


/* Images */

.image_hostels1
{
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 5px;
    box-sizing: border-box;
}

.image_pop
{
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    object-fit: cover;
}

.image_de_notre_dame
{
    width: 100%;
    height: 75%;
    object-fit: cover;
}

.image_de_parc
{
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.image_vieux_port
{
    width: 100%;
    height: 90%;
    object-fit: cover;
}

.image_fort_de_pomegues
{
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.image_iles_du_frioul
{
    width: 100%;
    height: 73%;
    object-fit: cover;
}

.image_de_calanques
{
    width: 100%;
    height: 90%;
    object-fit: cover;
}

/* Responsive smartphone*/
@media all and (max-width: 768px)
{
    #bloc_page
    {
        width:auto;
    }

    header
    {
        flex-direction:column;
    }
}