    /* Générique */

*{
    margin:0px;
    padding:0px;
}

body {
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

a{
    color:inherit;
    text-decoration: none;
}

.blue{
    color:#0065FC
}

.grey{
    color:#F2F2F2
}

main{
    padding:30px 50px 50px 50px;
}

h2{
    font-size: 16px;
}

h3{
    font-size: 16px;
}

    /* Header */

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:50px 50px 0px 70px;
}

#logo{
    height: 45px;
}

nav ul{
    list-style-type: none;
    display:flex;
}

nav ul a{
    text-decoration: none;
    padding-top: 30px;
    color:black;
}

nav a:hover{
    border-top: 1px solid #0065FC;
    color: #0065FC;
}

nav li{
    margin-right: 20px;
}

    /* Main */

            /* Première section/Boutton rechercher */

::placeholder{
    color:black;
    opacity:1;
    font-weight: bold;
}

.fa-location-dot{
    background-color: #F2F2F2;
    padding:15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    font-size: 12px;
}

form{
    display:flex;
    align-items: center;
    margin-top:10px;
}

.searching{
    border-left:none;
    border-right:none;
    padding:13px;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    position: relative;
    font-size: 12px;
}

.searching_button{
    padding:14px;
    border: none;
    color: white;
    background-color: #0065FC;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    font-weight: bold;
    font-size: 12px;
}

.searching_glass{
    display:none;
}

        /* Deuxième section/Filtres */

#container_filters{
    display:flex;
    align-items: center;
    gap:15px;
    margin-top:15px;
}

#icons_parent{
    display: flex;
    gap:15px;
}

.icons{
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-right:20px;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    gap:15px;
    font-size: 12px;
}

.icons .fa-solid{
    padding:10px;
    background-color: #DEEBFF;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left:-5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons:hover{
    border:2px solid #0065FC;
}

        /* Troisième section/Informations */

#informations{
    display: flex;
    align-items: center;
    margin: 15px 0px 15px 0px;
    font-size: 12px;
}

#informations .fa-solid{
    border: 2px solid #F2F2F2;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

        /* Quatrième section/Cartes */

            /* Hébergement à Marseille */

#container_hostels{
    display: flex;
}
            
#container_hostels h2{
    font-size: 17px;
}
            
#container_hostels_marseille{
    background-color: #F2F2F2;
    width: 66%;
    border-radius: 15px;
    padding:35px 20px;
}

#hostels_children{
    display:flex;
    flex-flow: row wrap;
    padding: 20px 0px;
    justify-content: space-between;
    gap:10px;
}

#hostels_children a{
    background-color: white;
    height: 200px;
    width: 30%;
    margin: 5px;
    border-radius: 20px;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0px 5px 10px #999;
    transition: 0.2s;
}

#hostels_children a:hover{
    transform:scale(1.05);
}

#hostels_children a p{
    font-size: 13px;
}

#hostels_children a .stars{
    font-size: 11px;
}

#hostels_children a h3{
    font-size: 13px;
}

.hostels_children_body{
    margin:0px 0px 10px 10px;
    display:flex;
    flex-direction: column;
    text-align: left;
    gap: 5px;
    box-sizing: border-box;
}

            /* Hébergement populaires */

#container_most_pop{
    background-color: #F2F2F2;
    width: 33%;
    border-radius: 15px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    gap:25px;
}

#container_most_pop a{
    transition: 0.2s;
}

#container_most_pop a:hover{
    transform:scale(1.05);
}

#most_pop_children{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:35px 40px 0px 40px;
}

.hostels_pop{
    display: flex;
    background-color: white;
    height: 130px ;
    border-radius: 20px;
    padding:5px;
    font-size:10px;
    box-sizing: border-box;
    box-shadow: 0px 5px 10px #999;
    margin: 0px 20px;
}

.hostels_pop h3{
    font-size: 12px;
}

.hostels_pop_body{
    padding:10px 0px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.white
{
    height:25%;
}

        /* Cinquième section/Activités */

#activities{
    display:flex;
    flex-direction: column;
    gap:20px;
    margin-top:50px;
}

#activities_children{
    display:flex;
    gap:40px;

}

#activities_children h3{
    padding: 5px 0px 5px 10px;
    font-size: 12px;
}

#activities_children_port{
    height: 430px;
    width: 25%;
    box-shadow: 0px 10px 10px #F2F2F2;
    border-radius: 15px;
    overflow: hidden;
}

.activities_children_container_bis{
    width:25%;
    display:flex;
    flex-direction: column;
    gap:40px;
    box-sizing: border-box;   
}

#activities_children_fort{
    height: 270px;
    box-shadow: 0px 10px 10px #F2F2F2;
    border-radius: 15px;
    overflow: hidden;
}

#activities_children_frioul{
    height: 120px;
    box-shadow: 0px 10px 10px #F2F2F2;
    border-radius: 15px;
    overflow: hidden;
}

#activities_children_calanques{
    height: 430px;
    width: 25%;
    box-shadow: 0px 10px 10px #F2F2F2;
    border-radius: 15px;
    overflow: hidden;
}

#activities_children_notre_dame{
    height: 150px;
    box-shadow: 0px 10px 10px #F2F2F2;
    border-radius: 15px;
    overflow: hidden;
}

#activities_children_longchamp{
    height: 240px;
    box-shadow: 0px 10px 10px #F2F2F2;
    border-radius: 15px;
    overflow: hidden;
}

/* Footer */

footer{
    display:flex;
    background-color: #F2F2F2;
    font-size: 14px;
}

footer ul{
    list-style-type: none;
}

footer ul a{
    text-decoration: none;
    color: black;
}

#footer_container{
    display:flex;
    gap:175px;
    padding:25px;
}

.footer_container_children ul{
    display:flex;
    gap:10px;
    flex-direction: column;
}

.footer_container_children{
    display:flex;
    gap:15px;
    flex-direction: column;
}

/* Images */

.image_hostels_children{
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 5px;
    box-sizing: border-box;
}

.image_pop{
    width: 40%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    object-fit: cover;
}

.image_de_notre_dame{
    width: 100%;
    height: 75%;
    object-fit: cover;
}

.image_de_parc{
    width: 100%;
    height: 84%;
    object-fit: cover;
}

.image_vieux_port{
    width: 100%;
    height: 91%;
    object-fit: cover;
}

.image_fort_de_pomegues{
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.image_iles_du_frioul{
    width: 100%;
    height: 69%;
    object-fit: cover;
}

.image_de_calanques{
    width: 100%;
    height: 91%;
    object-fit: cover;
}

/* Format tablette*/
@media screen and (max-width: 991px)
{

/* Tablette responsive Hôtels Marseille */

    #container_hostels{
        flex-direction: column-reverse;
    }

    #container_hostels_marseille{
        width: inherit;
    }

/* Tablette responsive Hôtels populaires */

    #container_most_pop{
        flex-direction: row;
        width: inherit;
        margin-left: inherit;
        gap: inherit;
        padding:10px;
        margin-bottom: 10px;
    }

    #container_most_pop a {
        width: 25%;
    }

    #most_pop_children{
        flex-direction: column-reverse;
        padding: 20px 5px 20px 10px;
        width: 25%;
        text-align: center;
    }

    .hostels_pop{
        margin:5px;
    }

/* Tablette responsive Footer */

    #footer_container{
        gap:100px;
    }
}

/* Responsive smartphone */
@media screen and (max-width: 767px)
{

/* Smartphone responsive générique */

    main{
        padding:inherit;
    }

/* Smartphone responsive header */

    #logo{
        height:70px;
        margin: 20px 0 20px 40px;
    }
    
    header{
        width:100%;
        flex-direction:column;
        padding:inherit;
    }

    nav{
        width: 100%;
        text-align: center;
    }

    nav a{
        border-bottom: solid 2px #F2F2F2;
        margin-bottom: 10px;
        padding-bottom: 10px;
        display:inline-block;
        width:50%;
    }

    nav a:hover{
        border-top:inherit;
        border-bottom: 2px solid #0065FC;
        padding-bottom: 10px;
    }

    nav ul{
        font-size: 22px;
        width: 100%;
        margin-bottom: 10px;
        display: inherit;
    }

    nav ul a {
        padding-top:inherit;
    }

    nav li{
        display:inline;
        margin-right: inherit;
    }

/* Smartphone responsive boutton rechercher */

    .searching{
        padding: 13px 50px 13px 13px;
    }

    #search_city{
        padding:0px 20px;
    }

    .searching_glass{
        display:inline-block;
        padding:12px;
        border: none;
        color: white;
        background-color: #0065FC;
        border-radius: 15px;
        margin-left:222px;
        position:absolute;
    }

    .searching_button{
        display:none;
    }

/* Smartphone responsive Filtres et Informations */

    #container_filters{
        flex-direction: column;
        align-items: inherit;
        padding: 0px 20px;
    }

    #icons_parent{
        flex-wrap: wrap;
    }

    #informations{
        padding: 0px 20px;
    }

/* Smartphone responsive Hôtels Marseille */

    #container_hostels{
        display:flex;
        flex-direction: column-reverse;
    }

    #container_hostels_marseille{
        background-color: inherit;
        padding:20px;
        margin-top: 10px;
    }

    #hostels_children{
        flex-direction: column;
    }
    
    #hostels_children a{
        height:inherit;
        width: inherit;
    }

/* Smartphone responsive Hôtels populaires */

    #container_most_pop{
        flex-direction: column;
        border-radius: inherit;
        padding: 10px 20px;
    }

    #container_most_pop a {
        width:inherit;
    }

    #most_pop_children{
        flex-direction: row;
        width:inherit;
        padding: inherit;
        margin-bottom: 10px;
    }

/* Smartphone responsive Activités */

    #activities{
        padding:20px;
        margin-top:30px;
    }

    #activities_children{
        flex-direction: column;
    }

    .activities_children_container_bis{
        width:inherit;
        height: inherit;
    }

    #activities_children_port{
        width:inherit;
        height: 200px;
    }

    #activities_children_calanques{
        width:inherit;
        height: 200px;
    }

    #activities_children_longchamp{
        width:inherit;
        height: 200px;
    }

    #activities_children_frioul{
        width:inherit;
        height: 200px;
    }

    #activities_children_fort{
        width:inherit;
        height: 200px;
    }

    #activities_children_notre_dame{
        width:inherit;
        height: 200px;
    }

    #activities_children img{
        height:80%;
    }

/* Smartphone responsive footer */
    
    #footer_container{
        flex-direction: column;
        gap:50px;
    }
}